p.welcome-slogan{
  font-family: Share-Regular;
  font-size: 50px;
}
img.welcome-logo{
  height: 36rem;
  width: auto;
  margin-top: 0px;
}
.welcome-text{
  text-align: left;
}
#welcome img{
  margin-top: 0 !important;
}